<launch>
	<node pkg="rosbag" 
		type="play" 
		name="rosbag" 
		args="/home/denise/MacbookHome/Dropbox/temp/image_color_rect_2015-11-16-13-39-11.bag"/>  
	<node   pkg="image_view" 
            name = "disp"
            type = "image_view" 
            args="image:=/pg_14434226/image_rect_color" >
    	</node>
   	<node name="datrackdisc"
            pkg="plane_camera_magnet" 
            type = "datrackdisc"
            output="screen">
            <param name="cal_file" value = "$(find plane_camera_magnet)/calib/calda.yml"/>
            <param name="param_file" value = "$(find plane_camera_magnet)/calib/paramda.yml"/>
    	</node>
	<node name="rqt_image_view"
	pkg="rqt_image_view"
	type="rqt_image_view">
	</node>
</launch>
