<launch>
    <node name="joy_node"
        pkg="joy" 
        type = "joy_node"
        output="screen">
    </node>    
    <node name="joystickvisualization"
        pkg="plane_camera_magnet"
        type="joystickvisualization"
        output="screen">
    </node>
    <node name="rviz"
        pkg="rviz"
        type="rviz"
        args="-d $(find plane_camera_magnet)/calib/joymagnet.rviz">
    </node>
    <node name="currentcalc_desiredfb"
	pkg="plane_camera_magnet"
	type="currentcalc_desiredfb"
	output="screen">
    </node>
    <node name="v5roboclawlisten_pub"
        pkg ="plane_camera_magnet"
        type = "v5roboclawlisten_pub.py"
        output = "screen">
        <remap from="/closedloopfbpoint/roboclawcmddesired" to="/currentcalc_desiredfb/roboclawcmddesired"/>
    </node>
</launch>

