<launch>
    <node name="test_trajreading"
        pkg ="plane_camera_magnet"
        type = "test_trajreading"
        output ="screen"
	launch-prefix = "gdb -ex run --args">
        <param name="traj_filename" value="/home/mrsl-think/catkin_ws/src/plane_camera_magnet/src/traj2mag1withI.csv"/>
        <param name="traj_filename2" value="/home/mrsl-think/catkin_ws/src/plane_camera_magnet/src/traj2mag2withI.csv"/>
    </node>
</launch>
